.boxOffice-wrap {
    background: #0a0e10;
    padding: 50px 268px 40px;
    box-sizing: border-box;
    color: #e0e0e0;

    .boxOffice-title {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .boxOffice-rank {
        .rank-title-box {
            border-bottom: 1px solid #e0e0e0;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 20px 24px;
            color: #e0e0e0;
            > div {
                &:first-child {
                    width: 80%;
                    text-align: center;
                }
                &:last-child {
                    width: 20%;
                    text-align: center;
                }
            }
        }
        .rank-box {
            > div {
                background: #ededed;
                color: #0a0e10;
                border-radius: 6px;
                display: flex;
                justify-content: space-between;
                padding: 20px 24px;
                margin-bottom: 10px;

                .movie-text {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .m-rank {
                        font-size: 18px;
                        padding-right: 22px;
                    }
                    .m-title {
                        > span {
                            display: block;
                            font-size: 24px;
                            font-weight: bold;
                            &:nth-child(2) {
                                font-size: 14px;
                                padding-top: 8px;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .movie-detail-btn {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    > p {
                        background: #ededed;
                        border-radius: 3px;
                        color: #0a0e10;
                        font-size: 12px;
                        padding: 2px 4px 3px;
                    }
                    > div {
                        padding-left: 10px;
                        > span {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
