.detail-container-wrapper {
  position: relative;
  padding: 100px 100px;
  background-size: cover;
  .detail-bgGradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left, black 20%, transparent 75%);
  }
  .detail-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .detail-left {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
    }
    .detail-right {
      width: 60%;
      padding: 15px 0;
      color: white;
      // margin-left: 50px;
      text-align: right;
      z-index: 20;
      .detail-title {
        font-size: 43px;
        font-weight: 600px;
        margin-bottom: 15px;
      }
      .detail-genres {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        font-size: 17px;
        .detail-genre {
          padding: 7px 0 7px 30px;
        }
      }
      .detail-inform {
        display: flex;
        justify-content: flex-end;
        color: rgb(168, 166, 166);
        > p {
          padding-left: 20px;
          &:not(:last-child) {
            border-right: 1.5px solid gray;
            padding-right: 20px;
          }
        }
      }
      .detail-overview {
        padding: 60px 0 10px;
        line-height: 1.3;
      }
      .detail-rates {
        font-size: 38px;
      }
      .detail-buttons {
        display: flex;
        justify-content: flex-end;
        padding-top: 35px;
        font-size: 14px;
        font-weight: 600;
        .detail-homepage,
        .detail-trailer {
          color: white;
          text-decoration: none;
          border: 2px solid #fff;
          border-radius: 20px;
          padding: 8px 20px;
          margin-left: 15px;
          box-sizing: border-box;
          &:before {
            content: "\f061";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            margin-right: 8px;
          }
          &:hover {
            background-color: #fff;
            color: black;
          }
        }
      }
    }
  }
}
