.footer {
    background-color: #0a0e10;
    margin-top:150px;
    padding-bottom:30px;
    .footer-wrap{
        max-width:800px;
        margin:0 auto;
        >svg{
            height: 53px;
            margin: 0 auto;
            width: 41px;
            display: block;
        }
        >p{
            text-align: center;
            font-size:14px;
            line-height: 18px;
            color:#eee;
            font-weight:300;
            >span{
                display:inline-block;
                padding-top: 20px;
            }
        }
    }
}