.footer {
    background-color: #0a0e10;
    padding-bottom: 30px;
    padding-top: 30px;
    .footer-wrap {
        max-width: 800px;
        margin: 0 auto;
        > svg {
            height: 53px;
            margin: 0 auto;
            width: 41px;
            display: block;
        }
        > p {
            text-align: center;
            font-size: 14px;
            line-height: 18px;
            color: #eee;
            font-weight: 300;
            > span {
                display: inline-block;
                padding-top: 20px;
            }
        }
        @media screen and (max-width: 840px) {
            > p {
                padding: 0 20px;
            }
        }
    }
}
