.header {
    // background-color: #282c34;
    padding: 20px 268px;
    display: flex;
    justify-content: space-between;

    .header-left-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .header-logo {
            width: 45px;
            height: 33px;
            padding-right: 120px;
        }

        .header-gnb {
            ul {
                display: flex;
                justify-content: space-between;

                >li {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 300;
                    padding-right: 35px;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .header-right-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .header-search {
            padding-right: 15px;
            position: relative;

            >span {
                background-image: url("../img/패스\ 2@2x.png");
                width: 16px;
                height: 16px;
                display: inline-block;
                background-size: 100%;
                position: absolute;
                top: 50%;
                left: 12px;
                transform: translateY(-50%);
            }

            >input {
                border-radius: 4px;
                background: #192225;
                padding: 5px 0 5px 44px;
                color: #fff;

                &::placeholder {
                    color: #798388;
                }
            }
        }

        .header-user {
            ul {
                display: flex;
                justify-content: space-between;

                li {
                    font-size: 13px;
                    color: #fff;
                    padding-right: 20px;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}