@import "reset.scss";
@import "header.scss";
@import "section.scss";
@import "footer.scss";
@import "loading.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a0e10;
}

// svg Logo

.cls-1 {
  fill: url(#linear-gradient);
}

.cls-2 {
  fill: #41f8a4;
  font-size: 10px;
  font-family: AppleSDGothicNeo-Bold, Apple SD Gothic Neo;
  font-weight: 700;
}

.cls-3 {
  font-family: AppleSDGothicNeo-Light, Apple SD Gothic Neo;
  font-weight: 300;
}

.cls-4 {
  font-family: AppleSDGothicNeo-Regular, Apple SD Gothic Neo;
  font-weight: 400;
}

// 반응형 test

.large {
  background: #000;
}

.medium {
  background: #f00;
}

.small {
  background: #ff0;
}
