// 이미지 어떻게 처리할지
// 폰트 반응형으로 바꾸기
// 폰트 패밀리 적용
// 스크롤 없애기

// slide 사이 간격 지정
.slick-slide {
  padding: 0 10px;
}

// 카드 눌렀을 때 흰 테두리 제거
div:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.section-wrap {
  padding: 0 40px;
  margin-bottom: 120px;
  .section-main_roll {
    ul {
      &::-webkit-scrollbar {
      }
      .slick-slide {
        padding: 0 20px;
      }

      li {
        min-width: 80%;
        height: 100%;
        // background-size: cover;
        // background-position: 0px 31%;
        padding: 320px 0 55px 56px;
        border-radius: 20px;
        // border: none;
        overflow: hidden;
        position: relative;

        > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        > p {
          position: relative;
          z-index: 100;
          font-size: 16px;
          color: #fff;
          font-weight: 300;
          max-width: 900px;
          line-height: 26px;

          .main-roll-title {
            font-size: 60px;
            font-weight: bold;
            line-height: 72px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-shadow: 1px 1px 1px #000;
          }

          .pop-genre {
            font-size: 24px;
            font-weight: 500;
            line-height: 25px;
            padding-left: 10px;
            text-shadow: 1px 1px 1px #000;
          }

          .pop-subtitle {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            height: 80px;
            overflow: hidden;
            text-shadow: 1px 1px 1px #000;
          }

          .main-roll-playbtn {
            background: #fff;
            padding: 10px 15px 10px 40px;
            display: inline-block;
            color: #000;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            background-image: url("../img/다각형\ 2@2x.png");
            background-repeat: no-repeat;
            background-size: 10px 16px;
            background-position: 22px 11px;
            border-radius: 10px;
            box-sizing: border-box;
            margin-top: 20px;
            margin-right: 16px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          }

          .main-roll-addbtn {
            background-color: rgba(255, 255, 255, 0);
            border: 2px solid #fff;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 9px 15px 9px 40px;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            display: inline-block;
            background-image: url("../img/다각형\ 2@2x.png");
            background-repeat: no-repeat;
            background-size: 10px 16px;
            background-position: 22px 11px;
            text-shadow: 1px 1px 1px #000;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }

  .section-current-movies {
    color: #222;

    > p {
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      line-height: 59px;
      padding: 80px 0 30px 0;
    }

    .section-roll {
      &::-webkit-scrollbar {
        display: none;
      }

      // height 맞추기
      .slick-initialized .slick-track {
        display: flex;
        align-items: stretch;
        max-height: 400px;
        .slick-slide {
          display: flex;
          height: auto;
          justify-content: center;
        }
      }

      .hover-container {
        height: 100%;
        width: 20%;
        position: relative;
        border-radius: 14px;
        overflow: hidden;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .information-box {
          transition: opacity 0.2s ease-out;
          -moz-transition: opacity 0.2s ease-out;
          -webkit-transition: opacity 0.2s ease-out;
          -o-transition: opacity 0.2s ease-out;
          opacity: 0;
          // display: none;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 14px;
          padding: 20px 15px;

          > div {
            text-align: center;
            height: 100%;
            position: relative;

            .title {
              overflow: hidden;
              font-size: 30px;
              font-weight: 500;
              display: inline;
            }

            .data-count {
              padding-top: 10px;
            }

            .text {
              position: absolute;
              bottom: 50px;
              text-align: left;
              color: #333;

              .genre {
                padding-bottom: 5px;
                font-weight: bold;
              }

              .subTitle {
                height: 50px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                word-wrap: break-word;
              }
            }
            .detail-view {
              position: absolute;
              bottom: 0;
              width: 100%;
              button {
                width: 100%;
                background: #333;
                border: none;
                color: #fff;
                font-size: 20px;
                font-weight: normal;
                padding: 5px 0;
                box-sizing: border-box;
                border-radius: 5px;
              }
            }
          }
        }
        &:hover {
          .information-box {
            opacity: 1;
            transition-delay: 0.2s;
          }
        }
      }
    }
  }

  .section-schedule-movies {
    color: #222;

    > p {
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      line-height: 59px;
      padding: 80px 0 30px 0;
    }

    .section-roll {
      // display: flex;
      // overflow-x: scroll;
      // overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }
      // roll 할 때 2행으로 나오는 문제
      // .slick-track {
      //   display: flex;
      // }

      .hover-container {
        // min-width: 400px;
        // height: 280px;
        // position: relative;
        // border-radius: 14px;
        // overflow: hidden;
        height: 280px;
        border-radius: 14px;
        overflow: hidden;
        width: 20%;
        position: relative;
        > img {
          width: 100%;
          border-radius: 14px;
        }

        .information-box {
          transition: opacity 0.2s ease-out;
          -moz-transition: opacity 0.2s ease-out;
          -webkit-transition: opacity 0.2s ease-out;
          -o-transition: opacity 0.2s ease-out;
          opacity: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          position: absolute;
          top: 0;
          left: 0;
          padding: 20px 15px;
          border-radius: 14px;

          > div {
            text-align: center;
            height: 100%;
            position: relative;

            .title {
              font-size: 30px;
              font-weight: 500;
            }

            .data-count {
              padding-top: 10px;
            }

            .text {
              position: absolute;
              bottom: 50px;
              text-align: left;
              color: #333;

              .genre {
                padding-bottom: 5px;
                font-weight: bold;
              }

              .subTitle {
                height: 48px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                word-wrap: break-word;
              }
            }
            .detail-view {
              position: absolute;
              bottom: 0;
              width: 100%;
              button {
                width: 100%;
                background: #333;
                border: none;
                color: #fff;
                font-size: 20px;
                font-weight: normal;
                padding: 5px 0;
                box-sizing: border-box;
                border-radius: 5px;
              }
            }
          }
        }
        &:hover {
          .information-box {
            opacity: 1;
            transition-delay: 0.2s;
          }
        }
      }
    }
  }
}
