:root{
    // 개봉예정작, 현재상영작 같은 큰 글씨
    // & main-roll title
    // --large-title: 50px;
    // --medium-title: 44px;
    // --small-title: 38px;
    
    // // mainroll 안에 title 제외 text
    // --large-main-text: 17px;
    // --medium-main-text: 16px;
    // --small-main-text: 15px;

    // // poster title이랑 text
    // --large-poster-title: 30px;
    // --medium-poster-title: 24px;
    // --small-poster-title: 20px;
    // --large-poster-text: 16px;
    // --medium-poster-text: 15px;
    // --small-poster-text: 14px;

    // // footer
    // --large-footer-text: 14px;
    // --medium-footer-text: 12px;
    // --small-footer-text: 10px;

    --small-text:12px;
    --medium-text:14px;
    --large-text :18px;

    --main-title:42px;
    --sub-title:30px;
    --mobile-title:22px;

}